* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
    display: contents;
}


header {
    margin: 45px 0 144px 76px;
}


.box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -469px;
    margin-left: 86px;
    gap: 20px;
    text-align: center;
}

h1 {
    font-weight: 900px;
    font-size: 100px;
    line-height: 121.9px;
    color: rgba(81, 81, 81, 1);
}

h2 {
    font-size: 58px;
    font-weight: 500;
    line-height: 70.7px;
    color: rgba(81, 81, 81, 1);
}

p {

    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: rgba(132, 132, 132, 1);
    margin-left: 50px;


}

.box-image{
    display: inline;
    margin-left: 125px;
    margin-top: 140px;
}

.imagen-cachorro {
    height: 600px;
    width: 700px;
    
}



.link-header {
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
}

button {
    background: aqua;
    padding: 6px 21px 6px 22px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.button-explore {
    width: 239px;
    height: 64px;
    border-radius: 50px;
    background: rgba(173, 255, 0, 1);

}





@media (max-width:1000px) {


    p {
        display: none;
    }




    header {
        display: none;
    }

    a {
        display: none;
    }

    .imagen-cachorro {
        height: 347px;
        width: 367px;
        margin: 0;
        margin-top: 149px;
        margin-left: -105px;

    }

    .box-image{
        display: inline;

    }


    .box-text {
        margin-left: 3px;
        margin-top: -108px;
        text-align: center;
    }


    h1 {
        width: 263px;
        font-size: 50px;
        margin-top: 87px;
        margin-bottom: -49px;
    }


    h2 {
        font-size: 30px;
    }



    .button-explore {
        width: 287px;
        height: 96px;
        font-size: 35px;
    }

    body {
        margin-top: -95px;
        display: inline-flex;
    }

    body {

        display: contents;

    }

}